*{
    padding: 0%;
    margin: 0%;
    font-family: "poppins", sans-serif;
}
.about_top{
    padding-top: 50px;
}
.about_me{
    font-size: 2rem;
}
.about_intro{
    font-size: 1.5 rem;
}
.about_me , .about_intro{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}
.pic_description{
    display: flex;
}
.pic_des{
    padding-top: 90px;
    padding-left: 200px;
    border: 50%;
    height: 350px;
    width: 360px;
}
.info_about{
    padding-top: 100px;
    padding-left: 50px;
    width: 45%;
    height: 45%;
    font-size: 1.6rem;
}

